.my-vacancys {
  height: 100%;
  background: linear-gradient(
    45deg,
    #911111, 
    #081f8e,
    #911111,
    #166829,
    #060d6c
  );
  animation: glowing 100s linear infinite;
  background-size: 400%;
  transition: all 0.3s ease-in-out;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
